

.slider{
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden;
  float: left;
  display: block;
}

.slider-line{
  display: flex;
  transition: all ease 1s;
}

.slider-container button{
  margin-left: 1%;
  background-size: contain;
  width: 17px;
  height: 10px;
  border: none;
}
.slider-prev{
  background: url(./img/slick-prev.svg) 0 0 no-repeat;
  margin-top: 20%;
}

.slider-next{
  background: url(./img/slick-next.svg) 0 0 no-repeat;
  margin-top: 50px;
}

.slider-prev:hover{
  background: url(./img/slick-prev-bold.svg) 0 0 no-repeat;
}

.slider-next:hover{
  background: url(./img/slick-next-bold.svg) 0 0 no-repeat;
}

.slider-dots {
  margin-top: 70px;
  margin-left: 50%;
}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin-right: 25px;
  background-color: #E5E5E5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #39425D;
}
